.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    color: #212529;
    border-bottom: 1px solid silver;
    font-size: 12px;

    &:last-child {
        border-bottom: none;
    }
}

.image {
    width: 30px;
}

.name {
    font-size: 14px;
    font-weight: bold;
    width: 140px;
    text-align: left;
    margin-left: 15px;
    color: #333;
}
.symbol {
    text-align: left;
    width: 100px;
}
.price {
    text-align: left;
    width: 100px;
}
.greenPriceChange {
    color: rgb(0, 204, 0);
}
.redPriceChange {
    color: red;
}
.greenPriceChange,
.redPriceChange {
    text-align: left;
    width: 100px;
}