.coinContainer {
    margin: 50px auto;
    border: 1px solid silver;
    border-radius: 10px;
    width: fit-content;
    background-color: #f6f6f6;
}

.input {
    width: 300px;
    height: 20px;
    padding: 5px;
    margin-top: 50px;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: #f6f6f6;
    transition: all 1s ease;
        
    &:focus {
        outline: none;
        background: #fff;
        border-color: rgb(129, 127, 127);
    }
}